@page "/"

<style>
    .border-none {
        border: 0 !important;
        box-shadow: none !important;
    }
    .container-input {
        display: flex;
        justify-content: space-between;
        width: 500px;
        border: 2px solid black ;
    }
        .container-input > div {
            display: flex;
        }
    .width-sm {
        width:75px;
    }
    .width-la {
        width: 250px;
    }
</style>
<div class="container-input">
    <div>
        <DxMaskedInput @bind-Value="@CardNumber"
                       InputCssClass="border-none"
                       Mask="9999 9999 9999 9999" NullText="Card Number">
        </DxMaskedInput>
    </div>
    <div>
        <DxMaskedInput @bind-Value="@Date"
                       Mask="@DateTimeMaskValue"
                       InputCssClass="border-none"
                       NullText="MM/YY"
                       CssClass="width-sm">
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@CVV"
                       InputCssClass="border-none"
                       Mask="\d{3}" MaskMode="MaskMode.RegEx"
                       CssClass="width-sm"
                       NullText="CVV">
            <DxRegExMaskProperties PlaceholdersVisible="false"></DxRegExMaskProperties>
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@ZIP"
                       InputCssClass="border-none"
                       Mask="\d{6}" CssClass="width-sm" MaskMode="MaskMode.RegEx"
                       NullText="ZIP">
            <DxRegExMaskProperties PlaceholdersVisible="false"></DxRegExMaskProperties>
        </DxMaskedInput>
    </div>
</div>

@code {
    DateTime? Date { get; set; } = null;
    string DateTimeMaskValue = "MM/yy";
    string CardNumber { get; set; }
    string CVV { get; set; }
    string ZIP { get; set; }
}