@page "/"

<style>
    .no-border {
        border: 0 !important;
        box-shadow: none !important; /* You may want to include this as bootstrap applies these styles too */
    }
    .inputContainer {
        display: flex;
        justify-content: space-between;
        width: 500px;
        border: 2px solid black ;
    }
        .inputContainer > div {
            display: flex;
        }
    .widthSm {
        width:75px;
    }
    .widthLa {
        width: 250px;
    }
</style>
<div class="inputContainer" >
    <div>
        <DxMaskedInput @bind-Value="@CardNumber"
                       InputCssClass="no-border"
                       Mask="0000 0000 0000 0000"
                       CssClass=""
                       NullText="Card Number">
        </DxMaskedInput>
    </div>
    <div>
        <DxMaskedInput @bind-Value="@Date"
                       Mask="@DateTimeMaskValue"
                       InputCssClass="no-border"
                       NullText="MM/YY"
                       CssClass="widthSm">
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@CVV"
                       InputCssClass="no-border"
                       Mask="000" 
                       CssClass="widthSm"
                       NullText="CVV">
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@ZIP"
                       InputCssClass="no-border"
                       Mask="00000" CssClass="widthSm"
                       NullText="ZIP">
        </DxMaskedInput>
    </div>
</div>

@code {
    DateTime? Date { get; set; } = null;
    string DateTimeMaskValue = "MM/yy";
    int? CardNumber { get; set; }
    int? CVV { get; set; }
    int? ZIP { get; set; }
}