@page "/"

<style>
    .border-none {
        border: 0 !important;
        box-shadow: none !important;
    }
    .container-input {
        display: flex;
        justify-content: space-between;
        width: 500px;
        border: 2px solid black ;
    }
        .container-input > div {
            display: flex;
        }
    .width-sm {
        width:75px;
    }
    .width-la {
        width: 250px;
    }
</style>
<div class="container-input" >
    <div>
        <DxMaskedInput @bind-Value="@CardNumber"
                       InputCssClass="border-none"
                       Mask="0000 0000 0000 0000"
                       NullText="Card Number">
        </DxMaskedInput>
    </div>
    <div>
        <DxMaskedInput @bind-Value="@Date"
                       Mask="@DateTimeMaskValue"
                       InputCssClass="border-none"
                       NullText="MM/YY"
                       CssClass="width-sm">
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@CVV"
                       InputCssClass="border-none"
                       Mask="000" 
                       CssClass="width-sm"
                       NullText="CVV">
        </DxMaskedInput>
        <DxMaskedInput @bind-Value="@ZIP"
                       InputCssClass="border-none"
                       Mask="00000" CssClass="width-sm"
                       NullText="ZIP">
        </DxMaskedInput>
    </div>
</div>

@code {
    DateTime? Date { get; set; } = null;
    string DateTimeMaskValue = "MM/yy";
    long? CardNumber { get; set; }
    int? CVV { get; set; }
    int? ZIP { get; set; }
}